div {
    margin-bottom: 15px;
    font-size: 28px;
    color: orangered;
}

h1{
    margin-bottom: 10px;
        font-size: 40px;
        color:Orange;
        text-align: left;
         background-color: navy;
}
